/.DS_Store
/.vscode
/images
SolicitacaoViaRG.API/obj/project.assets.json
SolicitacaoViaRG.API/obj/project.nuget.cache
SolicitacaoViaRG.API/obj/SolicitacaoViaRG.API.csproj.nuget.dgspec.json
SolicitacaoViaRG.API/obj/Debug/net6.0/SolicitacaoViaRG.API.AssemblyInfo.cs
SolicitacaoViaRG.API/obj/Debug/net6.0/SolicitacaoViaRG.API.AssemblyInfoInputs.cache
SolicitacaoViaRG.API/obj/Debug/net6.0/SolicitacaoViaRG.API.assets.cache
SolicitacaoViaRG.API/obj/Debug/net6.0/SolicitacaoViaRG.API.csproj.AssemblyReference.cache
SolicitacaoViaRG.API/obj/Debug/net6.0/SolicitacaoViaRG.API.GeneratedMSBuildEditorConfig.editorconfig
SolicitacaoViaRG.BLL/obj/project.assets.json
SolicitacaoViaRG.BLL/obj/project.nuget.cache
SolicitacaoViaRG.BLL/obj/SolicitacaoViaRG.BLL.csproj.nuget.dgspec.json
SolicitacaoViaRG.BLL/obj/Debug/net6.0/SolicitacaoViaRG.BLL.AssemblyInfo.cs
SolicitacaoViaRG.BLL/obj/Debug/net6.0/SolicitacaoViaRG.BLL.AssemblyInfoInputs.cache
SolicitacaoViaRG.BLL/obj/Debug/net6.0/SolicitacaoViaRG.BLL.assets.cache
SolicitacaoViaRG.BLL/obj/Debug/net6.0/SolicitacaoViaRG.BLL.csproj.AssemblyReference.cache
SolicitacaoViaRG.BLL/obj/Debug/net6.0/SolicitacaoViaRG.BLL.GeneratedMSBuildEditorConfig.editorconfig
SolicitacaoViaRG.Data/obj/project.assets.json
SolicitacaoViaRG.Data/obj/project.nuget.cache
SolicitacaoViaRG.Data/obj/SolicitacaoViaRG.Data.csproj.nuget.dgspec.json
SolicitacaoViaRG.Data/obj/Debug/net6.0/SolicitacaoViaRG.Data.AssemblyInfo.cs
SolicitacaoViaRG.Data/obj/Debug/net6.0/SolicitacaoViaRG.Data.AssemblyInfoInputs.cache
SolicitacaoViaRG.Data/obj/Debug/net6.0/SolicitacaoViaRG.Data.assets.cache
SolicitacaoViaRG.Data/obj/Debug/net6.0/SolicitacaoViaRG.Data.GeneratedMSBuildEditorConfig.editorconfig
SolicitacaoViaRG.Helper/obj/project.assets.json
SolicitacaoViaRG.Helper/obj/project.nuget.cache
SolicitacaoViaRG.Helper/obj/SolicitacaoViaRG.Helper.csproj.nuget.dgspec.json
SolicitacaoViaRG.Helper/obj/Debug/net6.0/SolicitacaoViaRG.Helper.AssemblyInfo.cs
SolicitacaoViaRG.Helper/obj/Debug/net6.0/SolicitacaoViaRG.Helper.AssemblyInfoInputs.cache
SolicitacaoViaRG.Helper/obj/Debug/net6.0/SolicitacaoViaRG.Helper.assets.cache
SolicitacaoViaRG.Helper/obj/Debug/net6.0/SolicitacaoViaRG.Helper.GeneratedMSBuildEditorConfig.editorconfig
SolicitacaoViaRG.Publisher/obj/project.assets.json
SolicitacaoViaRG.Publisher/obj/project.nuget.cache
SolicitacaoViaRG.Publisher/obj/SolicitacaoViaRG.Publisher.csproj.nuget.dgspec.json
SolicitacaoViaRG.Publisher/obj/Debug/net6.0/SolicitacaoViaRG.Publisher.AssemblyInfo.cs
SolicitacaoViaRG.Publisher/obj/Debug/net6.0/SolicitacaoViaRG.Publisher.AssemblyInfoInputs.cache
SolicitacaoViaRG.Publisher/obj/Debug/net6.0/SolicitacaoViaRG.Publisher.assets.cache
SolicitacaoViaRG.Publisher/obj/Debug/net6.0/SolicitacaoViaRG.Publisher.csproj.AssemblyReference.cache
SolicitacaoViaRG.Publisher/obj/Debug/net6.0/SolicitacaoViaRG.Publisher.GeneratedMSBuildEditorConfig.editorconfig
SolicitacaoViaRG.Worker/obj/project.assets.json
SolicitacaoViaRG.Worker/obj/project.nuget.cache
SolicitacaoViaRG.Worker/obj/SolicitacaoViaRG.Worker.csproj.nuget.dgspec.json
SolicitacaoViaRG.Worker/obj/Debug/net6.0/SolicitacaoViaRG.Worker.AssemblyInfo.cs
SolicitacaoViaRG.Worker/obj/Debug/net6.0/SolicitacaoViaRG.Worker.AssemblyInfoInputs.cache
SolicitacaoViaRG.Worker/obj/Debug/net6.0/SolicitacaoViaRG.Worker.assets.cache
SolicitacaoViaRG.Worker/obj/Debug/net6.0/SolicitacaoViaRG.Worker.csproj.AssemblyReference.cache
SolicitacaoViaRG.Worker/obj/Debug/net6.0/SolicitacaoViaRG.Worker.GeneratedMSBuildEditorConfig.editorconfig
